/*=========================================
CSS RESET
===========================================
*/





/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*=========================================
General Styles
===========================================
*/

.page-wrapper {
	display: flex;
	margin: 50px;
}

/*=========================================
Page Layout
===========================================
*/
html {
	background: url(honey.jpg);
	/* First background color #B78AE3
	*/
}

/*=========================================
	Intro
===========================================
*/
.intro {
	flex: 30%;
	background: #E5C2A4;
	justify-content: space-around;
	margin-right: 20px;
	
}

.summary {
	display : flex;
	flex-direction: column;
	align-items: flex-end;
}
.summary p:last-child {
	margin-bottom: 42px;
}
/*=========================================
	Main
===========================================
*/
.main {
	background: black; 
	flex: 40%;
	justify-content: center;
	align-items: center;
	height: 624px;
	overflow-y: auto;
}
.main p {
	color: #E5C2A4;
}
/*main color 1 #928CBD;
*/

footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
}

footer a {
	margin: 0 10px 0 10px;
}
/*=========================================
	Sidebar
===========================================
*/
.sidebar {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: #E5C2A4;
	margin-left: 20px;
	width: 30%;
}
.design-selection, .design-archives, .zen-resources {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
li {
	margin: 10px 0 10px 10px;
}
.select, .archives, .resources {
	margin-top: 20px;
	padding-right: 10px;
}

.preamble, .explanation, .participation, .benefits, .requirements, .summary {
	margin: 20px 0 20px 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.preamble p, .explanation p, .participation p, .benefits p, .requirements p {
	width: 70%;
	align-self: flex-end;
	margin: 10px 0 10px 0;
	padding: 10px 20px 0 0;
}



h1 {
	font-size: 48px;
	font-weight: bold;
	margin-left: 5px;
}

h2 {
	font-size: 24px;
	font-style: italic; 
	margin: 0 0 32px 10px;
	
}

h3 {
	font-size: 20px;
	font-style: italic;
	
	padding: 5px 10px 5px 10px;
	text-decoration: underline;
	color: gray;
	
	/* first background color #B78AE3 */
}

.summary p {
	margin: 10px 0 10px 15px;
}

p {
	font-size: 16px;
}

/*=========================================
	Aesthetic
===========================================
*/

a {
	color: #a4aee5; 
}
a:hover {
	text-decoration: none;
}
